<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @for (field of formFields(); track $index) {
  <div class="pb-6">
    <label
      [for]="field.name"
      class="block mb-2 text-sm font-medium text-[#111827]"
      >{{ field.label }}</label
    >
    @switch (field.type) { @case ('select') {
    <select [formControlName]="field.name">
      <option *ngFor="let option of field.options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
    } @default {
    <div class="relative text-gray-400">
      <input
        [type]="field.type"
        [id]="field.name"
        [formControlName]="field.name"
        class="pl-12 mb-2 bg-gray-50 text-gray-600 border focus:border-transparent border-gray-300 sm:text-sm rounded-lg ring ring-transparent focus:ring-1 focus:outline-none focus:ring-gray-400 block w-full p-2.5 rounded-l-lg py-3 px-4"
        aria-autocomplete="list"
      />
    </div>
    } } @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
    <p class="text-red-500">
      {{ getErrorMessage(field.name) }}
    </p>
    }
  </div>
  }
  <app-button [isDisabled]="form.invalid" (onClick)="onSubmit()" type="submit">
    Soumettre
  </app-button>
</form>
